{% extends "layout.html" %}
{% block body %}

<div style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin: 10%;">
    <p style="font-size: 20px; background-color: whitesmoke; padding: 30px; font-weight: bold; text-transform: uppercase;">{{errormsg}}</p>
    <a href="{{errorlink}}" style="margin-top: 10%;"><button style="width: 400px; height: 50px; font-size: 20px; font-weight: bold; background-color: #0d6efd; border-radius: 5px; box-shadow: 1px 1px 10px 1px black; color: white; text-transform: uppercase; border: 3px solid white;">{{errorbtntext}}</button></a>
</div>

{% endblock %}