{% extends "adminlayout.html" %}
{% block body %}


<!-- header section start here -->
<header id='mainpost' style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('{{ url_for('static', filename ='../static/blogpostthumbnail/banner3.jpg')}}')  " onmouseover="enavpo()">
    <h1 class="postheading">Admin Pannel</h1>

</header>

<div id="userhed">


    {% for post in posts %}
    <div id="usercard">

        <h1>{{post.user_name}}</h1>
        <hr>
        <p>{{post.password}}</p>
        <hr>
        <p>{{post.mail}}</p>
        <hr>
        <p>{{post.mo_no}}</p>
        <hr>
        <p>{{post.sdate}}</p>
        <hr>
        <a href="dele/{{post.mo_no}}"><button id="deleuser">delete</button></a>
        <hr>
    </div>
    {% endfor %}

</div>




{% endblock %}