<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPER WEB</title>

    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css')}}">

  
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">



</head>
<body>



        <nav id="nav">
            <!-- risponsive menu code -->
            <button id="btn" onclick="menuopen()"><img src="{{ url_for('static', filename='../static/images/menu.svg')}}" alt="menuicon" id="menu"></button>

            <div id="mobilemenu">
                <button id="clo" onclick="clouse()"><img src="{{ url_for('static', filename='../static/images/close.svg')}}" alt="close"></button>
                <div id="headimg">
                    <img id="hedim" src="{{ url_for('static', filename='../static/images/logo.png')}}" alt="logo">
                </div>
                <div id="ma">
               <a href="/"><p> <img src="{{ url_for('static', filename='../static/images/home.svg')}}" alt="home"> home</p></a>
               <a href="/#about"><p> <img src="{{ url_for('static', filename='../static/images/information-button.svg')}}" alt="about"> about</p></a>
               <a href="/projects"><p><img src="{{ url_for('static', filename='../static/images/programming.svg')}}" alt="blog">{{params['Post_Page_menu_name']}}</p></a>
               <a href="/contact"><p><img src="{{ url_for('static', filename='../static/images/blog.svg')}}" alt="code">contact</p></a>
              
               <button class="btn11" id="btn222"><a href="{{btnlinks}}">{{btntexts}}</a></button>
               <button class="btn11" id="btn111"><a href="{{btnlink}}">{{btntext}}</a></button>

               </div>

            </div>

        <a href="/" id="log" class="logo"><h1>{{params['heading']}}</h1></a>

     <ul id="ulhome">
        <a href="/"><li>Home</li></a>
        <a href="/#about"><li>about</li></a>
        <a href="/projects"><li>project</li></a>
        <a href="/contact"><li>contact</li></a>
        <a href="{{btnlink}}"><li id="btnsign">{{btntexts}}</li></a>
     </ul>
     </nav>



{% block body %} {% endblock %}



<!-- contact info section start here -->
<div id="contactifo">
    <div id="cft">contact info</div>
    <div id="confmain"  style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('{{ url_for('static', filename ='../static/images/myimg.jpg')}}')  ">
        <div>
            email : <a href="{{params['Contact_Info_Section_Email_url']}}"> {{params['Contact_Info_Section_Email']}} </a>
            <br>
            <br>
            mo.no : <a href="{{params['Contact_Info_Section_Mo_Url_No1']}}">{{params['Contact_Info_Section_Mo_No1']}}</a>, <a href="{{params['Contact_Info_Section_Mo_Url_No2']}}"> {{params['Contact_Info_Section_Mo_No2']}} </a>

            <div id="socail">
            <a href="{{params['whatsapp_url']}}" target="_blank"><img src="{{ url_for('static', filename='../static/images/whatsapp.svg')}}" alt="whatsapp"></a> 
            <a href="{{params['facebook_url']}}" target="_blank"><img src="{{ url_for('static', filename='../static/images/facebook.svg')}}" alt="facebook"></a>
            <a href="{{params['twitter_url']}}" target="_blank"><img src="{{ url_for('static', filename='../static/images/twitter.svg')}}" alt="twitter"></a>
            <a href="{{params['instagram_url']}}" target="_blank"><img src="{{ url_for('static', filename='../static/images/instagram.svg')}}" alt="instagram"></a>
        </div>
        </div>
    </div>
</div>



<!-- footer section  start-->
<footer id="footer">
    
    <p>{{params['Footer_Section_Copyright_Area']}}</p>

        <button><a href="#about">about</a></button>
        
</footer>

<script src="{{ url_for('static', filename='../static/js/main.js')}}"></script>
</body>
</html>