{% extends "layout.html" %}
{% block body %}
<header id='main' style="background-image: url('  {{ url_for('static', filename='../static/images/bg21.png')}}  ')  ">


    <div id="con" onclick="clouse()"> 
       <div>
      <h2 id="h21" style="color: #ffff33;
      letter-spacing: 3px;
      font-size: 80px; 
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Nerko One', cursive;
      animation: open 2s ease-in-out 1 forwards;"></h2>
       <p id="p12"></p>
       <a href="{{btnlink}}"><button class="bt6">{{btntext}}</button></a>
     </div>
    
       <img src="{{ url_for('static', filename='../static/images/headerimage.jpeg')}}" alt="img1" id="hadimg">
    </div>
    

    
    </header>
    
<!-- blog post section -->
<div id="post">

  <div id="title">{{params['Post_Section_heading']}}</div>

<div id="cont">

  <!-- card 1 -->
  {% for post in posts_for_project_page %}
  {% set fname = '../static/blogpostthumbnail/' + post.image %}  
      <div class="card">
          <div class="image">
             <a href="/post/{{post.slug}}"> <img src="{{ url_for('static', filename=fname)}}" alt="poster"></a>
          </div>
          <div class="containt">
              <a href="/post/{{post.slug}}"><h2>{{post.title}}</h2>
              <p>
                  {{post.content[0:80]}}......
              </p>
          </div>
      </div>
    </a>
  {% endfor %}

</div>


</div>
<script src="{{ url_for('static', filename='../static/js/projectspage.js')}}"></script>
{% endblock %}